In [1]:
import pandas as pd

In [2]:
hotel_bookings=pd.read_csv("hotel_bookings.csv")

In [3]:
hotel_bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [4]:
#rename/drop column

In [5]:
hotel_bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [6]:
hotel_bookings.rename({'adults':'num_adults','children':'num_children','babies':'num_babies'},axis=1,inplace=True)

In [7]:
hotel_bookings.head(6)
#

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [8]:
hotel_bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'num_adults', 'num_children', 'num_babies',
       'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [28]:
hotel_bookings.isnull().sum()*100/ len(hotel_bookings)

hotel                             0.0
is_canceled                       0.0
lead_time                         0.0
arrival_date_year                 0.0
arrival_date_month                0.0
arrival_date_week_number          0.0
arrival_date_day_of_month         0.0
stays_in_weekend_nights           0.0
stays_in_week_nights              0.0
num_adults                        0.0
num_children                      0.0
num_babies                        0.0
meal                              0.0
country                           0.0
market_segment                    0.0
distribution_channel              0.0
is_repeated_guest                 0.0
previous_cancellations            0.0
previous_bookings_not_canceled    0.0
reserved_room_type                0.0
assigned_room_type                0.0
booking_changes                   0.0
deposit_type                      0.0
agent                             0.0
company                           0.0
days_in_waiting_list              0.0
customer_type                     0.0
adr                               0.0
required_car_parking_spaces       0.0
total_of_special_requests         0.0
reservation_status                0.0
reservation_status_date           0.0
dtype: float64

In [10]:
hotel_bookings['agent'].unique()

array([ nan, 304., 240., 303.,  15., 241.,   8., 250., 115.,   5., 175.,
       134., 156., 243., 242.,   3., 105.,  40., 147., 306., 184.,  96.,
         2., 127.,  95., 146.,   9., 177.,   6., 143., 244., 149., 167.,
       300., 171., 305.,  67., 196., 152., 142., 261., 104.,  36.,  26.,
        29., 258., 110.,  71., 181.,  88., 251., 275.,  69., 248., 208.,
       256., 314., 126., 281., 273., 253., 185., 330., 334., 328., 326.,
       321., 324., 313.,  38., 155.,  68., 335., 308., 332.,  94., 348.,
       310., 339., 375.,  66., 327., 387., 298.,  91., 245., 385., 257.,
       393., 168., 405., 249., 315.,  75., 128., 307.,  11., 436.,   1.,
       201., 183., 223., 368., 336., 291., 464., 411., 481.,  10., 154.,
       468., 410., 390., 440., 495., 492., 493., 434.,  57., 531., 420.,
       483., 526., 472., 429.,  16., 446.,  34.,  78., 139., 252., 270.,
        47., 114., 301., 193., 182., 135., 350., 195., 352., 355., 159.,
       363., 384., 360., 331., 367.,  64., 406., 163., 414., 333., 427.,
       431., 430., 426., 438., 433., 418., 441., 282., 432.,  72., 450.,
       180., 454., 455.,  59., 451., 254., 358., 469., 165., 467., 510.,
       337., 476., 502., 527., 479., 508., 535., 302., 497., 187.,  13.,
         7.,  27.,  14.,  22.,  17.,  28.,  42.,  20.,  19.,  45.,  37.,
        61.,  39.,  21.,  24.,  41.,  50.,  30.,  54.,  52.,  12.,  44.,
        31.,  83.,  32.,  63.,  60.,  55.,  56.,  89.,  87., 118.,  86.,
        85., 210., 214., 129., 179., 138., 174., 170., 153.,  93., 151.,
       119.,  35., 173.,  58.,  53., 133.,  79., 235., 192., 191., 236.,
       162., 215., 157., 287., 132., 234.,  98.,  77., 103., 107., 262.,
       220., 121., 205., 378.,  23., 296., 290., 229.,  33., 286., 276.,
       425., 484., 323., 403., 219., 394., 509., 111., 423.,   4.,  70.,
        82.,  81.,  74.,  92.,  99.,  90., 112., 117., 106., 148., 158.,
       144., 211., 213., 216., 232., 150., 267., 227., 247., 278., 280.,
       285., 289., 269., 295., 265., 288., 122., 294., 325., 341., 344.,
       346., 359., 283., 364., 370., 371.,  25., 141., 391., 397., 416.,
       404., 299., 197.,  73., 354., 444., 408., 461., 388., 453., 459.,
       474., 475., 480., 449.])

In [11]:
hotel_bookings[hotel_bookings['agent']==5]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,0,Check-Out,2015-07-08
79,Resort Hotel,0,81,2015,July,27,3,2,6,3,...,No Deposit,5.0,NaN,0,Transient,85.86,0,0,Check-Out,2015-07-11
155,Resort Hotel,0,82,2015,July,28,5,4,6,2,...,No Deposit,5.0,NaN,0,Transient,63.60,1,2,Check-Out,2015-07-15
272,Resort Hotel,0,87,2015,July,28,10,2,5,2,...,No Deposit,5.0,NaN,0,Transient,133.83,0,2,Check-Out,2015-07-17
300,Resort Hotel,0,36,2015,July,28,11,2,5,2,...,No Deposit,5.0,NaN,0,Transient,104.68,1,0,Check-Out,2015-07-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75021,City Hotel,1,268,2015,July,29,12,2,1,2,...,No Deposit,5.0,NaN,0,Transient,82.00,0,0,Canceled,2015-06-26
75022,City Hotel,1,268,2015,July,29,12,2,1,2,...,No Deposit,5.0,NaN,0,Transient,82.00,0,0,Canceled,2015-06-26
75023,City Hotel,1,268,2015,July,29,12,2,1,2,...,No Deposit,5.0,NaN,0,Transient,82.00,0,0,Canceled,2015-06-26
75024,City Hotel,1,268,2015,July,29,12,2,1,2,...,No Deposit,5.0,NaN,0,Transient,82.00,0,0,Canceled,2015-06-26
75025,City Hotel,1,268,2015,July,29,12,2,1,2,...,No Deposit,5.0,NaN,0,Transient,82.00,0,0,Canceled,2015-06-26

In [13]:
print(hotel_bookings.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'num_adults', 'num_children', 'num_babies',
       'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [15]:
hotel_bookings['agent'] = hotel_bookings['agent'].fillna(-1)

In [16]:
hotel_bookings[hotel_bookings['num_children'].isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
40600,City Hotel,1,2,2015,August,32,3,1,0,2,...,No Deposit,-1.0,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-01
40667,City Hotel,1,1,2015,August,32,5,0,2,2,...,No Deposit,14.0,NaN,0,Transient-Party,12.0,0,1,Canceled,2015-08-04
40679,City Hotel,1,1,2015,August,32,5,0,2,3,...,No Deposit,-1.0,NaN,0,Transient-Party,18.0,0,2,Canceled,2015-08-04
41160,City Hotel,1,8,2015,August,33,13,2,5,2,...,No Deposit,9.0,NaN,0,Transient-Party,76.5,0,1,Canceled,2015-08-09

In [20]:
hotel_bookings[hotel_bookings['country'].isna()][['hotel','is_canceled','country']]

               hotel  is_canceled country
30      Resort Hotel            0     NaN
4127    Resort Hotel            1     NaN
7092    Resort Hotel            1     NaN
7860    Resort Hotel            1     NaN
8779    Resort Hotel            1     NaN
...              ...          ...     ...
65908     City Hotel            1     NaN
65909     City Hotel            1     NaN
65910     City Hotel            1     NaN
80830     City Hotel            0     NaN
101488    City Hotel            0     NaN

[488 rows x 3 columns]

In [22]:
hotel_bookings['country'] = hotel_bookings['country'].fillna('Unknown')

In [24]:
hotel_bookings.dropna(subset=['num_children'],inplace=True)

In [27]:
hotel_bookings.dropna(subset=['company'],inplace=True)

In [33]:
hotel_bookings.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                      float64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [34]:
hotel_bookings = hotel_bookings.astype({'is_canceled': 'boolean', 'is_repeated_guest': 'boolean', 'num_children': 'int'})
hotel_bookings.dtypes

hotel                              object
is_canceled                       boolean
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                        int64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 boolean
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [35]:
hotel_bookings['lead_time'].unique()

array([  0,   1,  84,  12,   5,  19,  33,  37,   4,  11,  40,   2, 154,
         6,  28,   3,  21,  16,  10,   7,  13,  20,   8,  29,  30,  27,
        24,  49,  25,  34,  35,  36,  17,  14,  38,  32,  41,  15,  78,
       167, 168, 169, 126, 220, 221, 222, 223, 224, 225,  22, 226, 227,
       229, 183, 334, 335, 336, 127, 359, 360, 362, 363, 364, 365,   9,
       196,  18,  73,  74,  69,  70,  23, 112, 152, 252, 155,  63,  43,
        60, 160, 203, 162, 114,  31,  26, 151,  62,  51, 259, 241, 287,
       285, 286,  39,  44,  46,  50,  65,  86, 100,  83,  58, 140, 101,
        61,  59,  52, 211, 212, 339, 146, 131,  97, 141, 198,  71,  88,
       192,  89, 125, 120, 153, 150,  67,  64,  56, 302, 202, 201, 300,
       228,  87,  85,  55,  54,  80,  99,  47, 113, 157,  48, 199,  72,
       206, 213, 234, 248, 255, 262, 215, 269, 216, 276,  42,  92, 283,
       290, 297,  45, 137,  68,  90, 261,  91,  98, 105,  75, 106, 185,
        66,  81,  94, 108, 115, 122, 129, 136, 304,  57,  76,  93, 143,
       236, 172, 178, 165, 256,  96, 214, 246,  79, 197, 102,  95, 210,
       191, 145, 139])

In [36]:
hotel_bookings['lead_time'].describe()

count    6797.000000
mean       49.087980
std        83.355696
min         0.000000
25%         3.000000
50%         9.000000
75%        51.000000
max       365.000000
Name: lead_time, dtype: float64

In [49]:
bins = [0, 100, 200, 300, 400, 500, 600, 700, 800]
labels = ['0-100', '101-200', '201-300', '301-400', '401-500', '501-600', '601-700', '701-800']


hotel_bookings['time_lead_binned'] = pd.cut(hotel_bookings['lead_time'], bins=bins, labels=labels)

In [38]:
#lables=['0-100','101-200','201-300','301-400','401-500','501-600','601-700','701-800']

In [48]:
#hotel_bookings['time_lead_binned'] = pd.cut(hotel_bookings['lead_time'], bins=bins, lables=lables)

In [50]:
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,time_lead_binned
18,Resort Hotel,False,0,2015,July,27,1,0,1,2,...,-1.0,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02,NaN
218,Resort Hotel,True,1,2015,July,28,8,0,1,2,...,-1.0,110.0,0,Transient,104.72,0,1,Canceled,2015-07-08,0-100
219,Resort Hotel,True,1,2015,July,28,8,0,1,2,...,-1.0,110.0,0,Transient,104.72,0,1,Canceled,2015-07-08,0-100
220,Resort Hotel,False,1,2015,July,28,8,0,2,2,...,-1.0,110.0,0,Transient,104.72,1,1,Check-Out,2015-07-10,0-100
295,Resort Hotel,False,84,2015,July,28,11,1,1,2,...,-1.0,113.0,0,Transient,100.00,1,0,Check-Out,2015-07-13,0-100

In [51]:
hotel_bookings['arrival_date_month']

18          July
218         July
219         July
220         July
295         July
           ...
119119    August
119122    August
119123    August
119124    August
119248    August
Name: arrival_date_month, Length: 6797, dtype: object

In [52]:
hotel_bookings['arrival_date_year']

18        2015
218       2015
219       2015
220       2015
295       2015
          ...
119119    2017
119122    2017
119123    2017
119124    2017
119248    2017
Name: arrival_date_year, Length: 6797, dtype: int64

In [53]:
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [54]:
hotel_bookings.duplicated(keep=False)

18        False
218        True
219        True
220       False
295       False
          ...
119119     True
119122     True
119123     True
119124    False
119248    False
Length: 6797, dtype: bool

In [57]:
hotel_bookings.drop_duplicates(keep="first",inplace=True)

In [58]:
hotel_bookings.loc[hotel_bookings.duplicated(keep=False)]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, num_adults, num_children, num_babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, time_lead_binned]
Index: []

[0 rows x 33 columns]